<div *ngIf="album; else noAlbums">
  <h2>Album Details</h2>
  <p><strong>ID:</strong> {{ album.id }}</p>

  <div *ngIf="isEditing">
    <input type="text" [(ngModel)]="editedTitle" />
    <button (click)="saveTitle()" class="saveButton">Save</button>
  </div>

  <div *ngIf="!isEditing">
    <p><strong>Title:</strong> {{ album.title }}</p>
    <button (click)="toggleEdit()" class="editButton">Edit</button>
  </div>

  <div class="links">
    <a [routerLink]="['/albums', album.id, 'photos']" class="photosLink"
      >photos</a
    >
    <br />
    <a routerLink="/albums" class="backLink">back</a>
  </div>
</div>

<ng-template #noAlbums>
  <p>Cant access albums</p>
</ng-template>
